<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<header th:fragment="block-header">
        <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #f8f9fa;">
            <div class="header-logo">
                <a class="navbar-brand" href="#">
                    <img th:src="@{/img/logo.png}" alt="Logo" class="img-fluid" style="max-width: 50px; margin-right: 10px;">FR
                </a>
            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <button class="btn btn-primary" style="border-radius: 50px; border: 3px solid black; margin: 5px;" onclick="window.location.href='/utenti'">Lista Utenti</button>
                    </li>
                    <li class="nav-item">
                        <button class="btn btn-success" style="border-radius: 50px; border: 3px solid black; margin: 5px;" onclick="window.location.href='/utenti/new'">Registrazione Utente</button>
                    </li>
                    <li class="nav-item">
                        <button class="btn btn-danger" style="border-radius: 50px; border: 3px solid black; margin: 5px;" onclick="window.location.href='/lavori-elettrici'">Lavori Elettrici</button>
                    </li>
                    <li class="nav-item">
                        <button class="btn btn-warning" style="border-radius: 50px; border: 3px solid black; margin: 5px;" onclick="window.location.href='/lavori-edili'">Lavori Edili</button>
                    </li>
                    <li class="nav-item">
                        <button class="btn btn-info" style="border-radius: 50px; border: 3px solid black; margin: 5px;" onclick="window.location.href='/lavoriManutenzione'">Lavori di Manutenzione</button>
                    </li>
                    <li class="nav-item">
                        <button class="btn btn-secondary" style="border-radius: 50px; border: 3px solid black; margin: 5px;" onclick="window.location.href='/lavoriRestauro'">Lavori di Restauro</button>
                    </li>
                    <li class="nav-item">
                        <button class="btn btn-dark" style="border-radius: 50px; border: 3px solid black; margin: 5px;" onclick="window.location.href='/lavoriTecnologici/list'">Lavori Tecnologici</button>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

</body>
</html>